<form action="/names" method="post">
  <div>
    Player 1 Name
    <input type="text" name="player_1_name" />
  </div>
  <div>
    Player 2 Name
    <input type="text" name="player_2_name" />
  </div>
  <input type="submit" value="Submit" />
</form>

<!-- <% if player_1_name %>
  <%= player_1_name  + "vs." + player_2_name %>
<% end %> -->
