<div style="margin:auto; width:100%; text-align:center">
  <%= @player_1_name  + " vs. " + @player_2_name%>
  <div style="margin:auto; display:inline-block; width:100%; text-align:center">
      <%= @player_1_name %>: 20HP
      <%= @player_2_name %>: 20HP
  </div>
  <div style="margin:auto; display:inline-block; width:100%; text-align:center">
    <form action="/attack">
      <input type="submit" value="attack"/>
    </form>
  </div>
</div>
