<div style="margin:auto; width:100%; text-align:center">
  <%= player_1_name  + " vs. " + player_2_name%>
  <div style="margin:auto; display:inline-block; width:100%; text-align:center">
      <%= player_1_name %>: 20HP
      <%= player_2_name %>: 20HP
  </div>
</div>
