<center>
<font face="Verdana" size="3">
<p style="max-width: 200px; border: 6px solid #1F535D;background-color: #08CEF6">

  <%= "You have attacked #{@opponent_name}!" %><br>

  <form action="/play" method="get">
    <button type="submit">OK!</button>
  </form>

</p>
</font>
</center>
