<link rel="stylesheet" href="css.css" type="text/css" />

<div>
  <%= @game.current_player.name %> attacked <%= @game.current_opponent.name %>!
  <%= @game.current_opponent.name %>'s HP has dropped!
</div>

<div>
  <form action="/switch" method="post">
    <button type="submit">Switch!</button>
  </form>
</div>
