<center>
<font face="Verdana" size="3">
<p style="max-width: 200px; border: 6px solid #1F535D;background-color: #08CEF6">

  <form action="/names" method="post">
    <h3>Enter your names</h3>
    <h2>Start Battle!</h2>
    <div>
      <input type="text" name="player1" placeholder="player 1 name">
    </div><br>
    <div>
      <input type="text" name="player2" placeholder="player 2 name">
    </div><br>
    <div>
      <button type="submit">Start Battle!</button>
    </div>
  </form>
  
</p>
</font>
</center>
