<link rel="stylesheet" href="css.css" type="text/css" />
<%=@game.current_player.name%> is victorious!!
<div>
  <form action="/" method="get">
    <button type="submit">Restart</button>
  </form>
</div>
