<center>
<font face="Verdana" size="3">
<p style="max-width: 200px; border: 6px solid #1F535D;background-color: #08CEF6">

  <%= @winner %> wins


</p>
</font>
  <img src="http://i.imgur.com/nobZWUT.jpg"></img>
</center>
