#player1 {
  float: left
}

.health{
  float: left;
  border-radius: 13px;
  background: green;
  padding-top: 40px;
  max-width: 50px;
  height: -40px;
  top: -40px;
  position: relative

}

.healthBar{
  border:  2px solid black;
  border-radius: 15px;
  padding-top: 40px;
  background: white
}


#player2 {
  float: right
}

#is_playing {
  line-height: 350px
}

button {
  color: red;
  padding: 100px;
  font-size: 25pt
}
